@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f2321;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0f2321;
}
